<div class="mb-2">
  <%= link_to revenda_tecnicos_path(@revenda), class: "btn btn-outline-secondary btn-sm" do %>
    <i class="fas fa-arrow-left me-1"></i>Voltar
  <% end %>
</div>
<div class="mb-3">
  <h3 class="text-success mb-0">
    <i class="fas fa-user-plus me-2"></i>Novo Técnico
  </h3>
</div>

<div class="card floating-card">
  <div class="card-body p-3">
    <%= render 'form' %>
  </div>
</div>